.button {
  border: none;
  outline: 1px solid var(--neutral-20);
  padding: var(--xs) var(--m);
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: var(--neutral-20);
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:disabled:hover {
    background-color: var(--neutral-10);
  }

  &:active {
    transform: scale(1.05);
  }
}
