.controls {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

label {
  cursor: pointer;
}

input[type='checkbox'] {
  margin: 0;
  padding: 0;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  border-radius: 0.125rem;
  appearance: none;
  border: 1px solid var(--neutral-20);
  transition: all 0.3s ease-in-out;
}

input[type='checkbox']:checked {
  appearance: auto;
  accent-color: var(--neutral-20);
  transition: accent-color 0.3s ease-in-out;
}

input[type='checkbox']:disabled,
input[type='checkbox']:disabled + label {
  cursor: not-allowed;
}
