@import './styles/vars.css';
@import './styles/reset.css';

body {
  font-family: 'Inter', sans-serif;
  color: var(--neutral-90);
  background-color: var(--neutral-00);
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

h1 {
  font-size: clamp(2rem, 4vw, 4rem);
}

#root {
  width: 100%;
  display: flex;
  padding-inline: 1rem;
}

@media (min-width: 768px) {
  body {
    padding: 2rem 0;
  }
}

@media (min-width: 1280px) {
  body {
    padding: 4rem 0;
  }
}
