@import './styles/vars.css';
@import './styles/reset.css';

body {
  font-family: 'Inter', sans-serif;
  color: var(--neutral-90);
  background-color: var(--neutral-10);
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

#root {
  width: 100%;
  display: flex;
  padding-inline: 1rem;
}
